{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "debug": true
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-es2015-arrow-functions",
    "transform-class-properties"
  ]
}